<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments :: head}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Pizzeria</title>
</head>

<body style="background-color: #FAC895;">
    <header>
        <div th:replace="~{navbar :: nav}"></div>
    </header>

    <main>
        <div class="container justify-content-center" style="text-align: center;">
            <h1 class="m-4">Benvenuti nella mia Pizzeria</h1>

        </div>
        <div class="container-fluid" style="padding: 50px; padding-top: 0px;">
            <div class="d-flex justify-content-end">
                <form th:action="@{/pizze}" method="get">
                    <div class="input-group">
                        <input name="keyword" th:value="${keyword}" class="form-control" type="search"
                            placeholder="Filter" aria-label="Filter">

                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                        <a th:href="@{/pizze}"><button class="btn btn-danger" type="button">
                                RESET FILTER
                            </button></a>
                    </div>
                </form>
            </div>

            <div th:if="${!pizze.isEmpty()}">




                <table class="table table-dark table-striped align-middle">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizze}">
                            <td><img th:src="@{${pizza.pic}}" alt="" class="img-60"></td>
                            <td>
                                <p th:text="${pizza.name}"></p>
                            </td>
                            <td>
                                <p th:text="${pizza.description}"></p>
                            </td>
                            <td>
                                <p th:text="|€ ${pizza.price}|"></p>
                            </td>
                            <td><a class="btn btn-light" th:href="@{|/pizze/show/${pizza.id}|}"><i
                                        class="fas fa-info-circle"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:if="${pizze.isEmpty()}">
            <div class="container-fluid">
                <div class="alert alert-dark" role="alert">
                    <p class="h2 text-center">Purtroppo al momento non abbiamo pizze disponibili ci dispiace
                    </p>
                </div>
            </div>
        </div>
        <a class="btn btn-success col-md-2" th:href="@{/pizze/create}"><i class="fas fa-plus"></i>
            NEW PIZZA </a>
    </main>






    <div th:replace="~{fragments :: scripts}"></div>
</body>

</html>